<div class="row">
  <div class="col-lg-10">
    <h1>{{#link-to 'concesses'}}<i class="fa fa-arrow-left" aria-hidden="true"></i>{{/link-to}}{{model.name}}</h1>
  </div>
  <div class="col-lg-2">
    <button{{action 'confirm' model}} class="btn danger-btn">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
  </div>
  
</div>

<hr>
<div class="row">
  <div class="col-lg-8">
    <h3>Garantía: {{if model.warranty 'Yea' 'No'}}</h3>
    <h3>Descripción: {{if model.description model.description 'No especificado'}}</h3>
  </div>
  <div class="col-lg-4">
    <h2 style="display: inline-grid;">Comments</h2>
    {{#link-to 'concesses.show.comments.new' model}}
      <button class="btn" style="margin-left: 50%;">
        <i class="fa fa-plus"  aria-hidden="true"></i>
      </button>
    {{/link-to}}
    <ul class="list-group">
      {{#each model.comments as |comment|}}
        <li class="list-group-item">
          <em>{{comment.body}}</em>
        </li>
      {{/each}}  
    </ul>
    <h3>
      {{ outlet 'new-comment' }}
    </h3>
  </div>
</div>
{{liquid-outlet}}

<style>
  .danger-btn:hover{
    background-color: red;
    color: white;
    transition: .3s;
  }
  .danger-btn{
    transition: .3s;
  }
  .fa-arrow-left{
    font-size: 3rem;
    padding: 0 10px;
  }
  
</style>